<!DOCTYPE html>
<html lang="en">
  <head><% include partials/page/head.ejs  %>
    
  </head>
  <body class="<%= className %>" >
  <head>
  <% include partials/page/header.ejs  %>

	  <div class="container">
	    <h1><%= title %></h1>
	    <h3>Global data : <%= myData %> </h3>
	    <p>
	   About us page dummy content. About us page dummy content. About us page dummy content. About us page dummy content. About us page dummy content. About us page dummy content. About us page dummy content. About us page dummy content. About us page dummy content. About us page dummy content. About us page dummy content. About us page dummy content. About us page dummy content. About us page dummy content. About us page dummy content. About us page dummy content. About us page dummy content. 
	   

	    </p>

	
	</div><!-- container div -->

	<% include partials/page/footer.ejs %>
	<% include partials/page/jsdefault.ejs %>

   
  </body>
</html>






